@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.brand h1{
    font-size: 38px;
    color: white;
}
.brand span{
    color: crimson;
}

/* Start of Nav bar */
.header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    padding: 10px 30px;
    transition: 0.3s;
    z-index: 100;
}
.nav-logo a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.nav-logo a span{
    color: crimson;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    transition: 0.5s;
    top: 0;
    right: 0;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    width: 300px;
    height: 100%;
    padding-top: 65px;
}
.menu li{
    list-style-type: none;
    width: 100%;
    text-align: center;
}
.menu li a{
    color: #fff;
    text-decoration: none;
    display: block;
    line-height: 1;
    transition: 0.3s;
    padding: 30px;
    font-size: 25px;
    transition: all 0.2s ease 0s;
}
.menu li a:hover{
    transition: all 0.2s ease 0s;
    padding: 20px 0px;
    border: 3px solid white;
    border-radius: 15px;
    background-color: crimson;
    color: white;
}
.hamburger{
    position: relative;
    width:30px;
    height: 4px;
    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.hamburger::before,
.hamburger::after{
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: #FFFFFF;
    border-radius: 10px;
    transition: 0.3s;
}
.hamburger::before{
    top:-10px;
    width: 30px;
}
.hamburger::after{
    top:10px;
    width: 30px;
}
.hamburger{
    display: block;
}
/* End of Nav-bar */

/* Home Section */
#home{
    background: linear-gradient(rgba(11,12,16,0),rgba(11,12,16,1)),
    url('../img/home-bmg.jpg');
    background-size: cover;
    background-position: top center;
}
#home #logo {
    padding-right: 20px;
    padding-left: 30px;
  }
#home .logo {
    display: flex;
    border-radius: 50%;
    border: 3px solid crimson;
  }
#home h1{
    display: block;
    color: white;
    font-size: 40px;
    position: relative;
}
#home h3{
    display: block;
    color: white;
    padding-top: 10px;
    font-size: 20px;
    position: relative;
}
#home .cta{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid crimson;
    transition: all ease 0.2s;
}
#home .cta:hover{
    color: white;
    background-color: crimson;
}
/* End of Home Section */

/* Start of My Project */
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
.section-title {
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
}
.section-title span{
    color: crimson;
}
#projects .all-projects {
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 5px auto;
	overflow: hidden;
	border-radius: 10px;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .7;
}
#projects .project-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
	transition: .3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}
#projects .github-link{
    display: inline-block;
    padding: 5px;
    color: white;
    font-size: 12px;
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid white;
    transition: all ease 0.2s;
}
#projects .github-link:hover{
    color: white;
    background-color: crimson;
}
/* End of My project */

/* Starting About ME */
#about .about{
    flex-direction: column-reverse;
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 100px 20px;
}
#about .col-left{
    width: 300px;
    height: 360px;
}
#about img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 7px solid white;
}
#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -20px;
	top: 18px;
	height: 98%;
	width: 98%;
	border: 7px solid crimson;
	z-index: -1;
}
#about .col-right{
    width: 100%;
}
#about .col-right p{
    margin-bottom: 20px;
    font-size: 1.4rem;
	line-height: 2.5rem;
	font-weight: 400;
	letter-spacing: .05rem;

}
#about a{
    display: inline-block;
    padding: 10px 20px;
    color: crimson;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 2px solid crimson;
    transition: all ease 0.2s;
}
#about a:hover{
    color: white;
    background-color: crimson;
}
/* End of About Me */

/* Start Contact Section */
#contact .contact {
    display: flex;
	max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
}
#contact .contact-items {
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#contact .contact-item {
	width: 80%;
	text-align: center;
    border-radius: 10px;
    padding: 30px 5px;
	margin: 5px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info{
    padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info p {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
#contact img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* End of Contact Section */

/* Start Footer */
#footer{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#footer .footer{
    min-height: 100px;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 10px;
}
#footer .social-icon{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-content: center;
}
#footer .social-item{
    height: 50px;
    width: 50px;
    margin: 0 5px;
}
#footer .social-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#footer p{
    text-align: center;
    padding-bottom: 15px;
    scroll-padding-right: -50px;
}
/* end Footer */

/* Typing Effect */
#animate {
    position: relative;
}
#animate::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 90%;
    border-right: 5px solid crimson;
    animation: blink 0.4s infinite ease;
}
@keyframes blink{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* End of Typing effect */

@media all and (max-width: 560px){
    #home .logo {
        display: none;
      }
      #home #logo {
        padding-right: 10px;
        padding-left: 10px;
      }
}

@media only screen and (min-width: 768px) {
    #projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
    }
    #projects .project-img {
        height: 100%;
    }
    #projects .project-img img {
        display: flex;
    }
    #about .about{
        flex-direction: row;
    }
    #about .about{
        flex-direction: row;
    }
    #about .col-right  p{
        text-align: justify;
        padding-left: 20px;
    }
    #contact .contact {
        flex-direction: row;
    }
    #contact .section-title{
        font-size: 90px;
    }
}